@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 100px;
}

/* Header */
.header-container{
  height: 180px;
  background: #3D6189;
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: 3px solid black;
}

.header-words{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
  /* font-size: 50px; */
}

.App{
  text-align: right;
}

.logoutBtn{
  font-family: 'Poppins';
  background: none;
  border: none;
  padding-top: 0;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

#left{
  float:left;
  font-family: 'Dancing Script', cursive;
  color: white;
  font-size: 120px;
  padding-left: 84px;
}

.list-button{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 5px;
  border-right: 1.5px solid lightgrey;
}

.right{
  float: right;
  margin-top: 10px;
}

.right a:hover{
  color: black;
}

.logoutBtn:hover{
  color: black;
}

/* Products */
.map-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px
}

.search-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  border-bottom: 3px solid grey;
  margin-bottom: 20px;
}

.prod-container{
  border-radius: 10px;
  padding-bottom: 5px;
}

.prod-container:hover{
  box-shadow: 3px 3px 3px 3px lightgray;
}

.prodimg{
  object-fit: contain;
  width: 300px;
  height: 300px
}

.underpic{
  text-align: center
}

.prodName{
  color: #366251
}

/* Create Modal */

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal-text {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

.close-modal {
  text-decoration: none
}

.errorMsg{
  font-size: 18px;
  color: white;
}

.search-container{
  background-color: lightgrey;
  text-align: center;
  margin-top: 5vh;
}

#search{
  margin-top: 70px;
  margin-bottom: 20px;
  border: 2px solid black;
  width: 200px;
  height: 20px;
}


@media (max-width: 430px){
  .header-container{
    height: 330px;
    background: #3D6189;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 3px solid black;
  }

  .header-words{
    font-size: 40%
  }

  .search-container{
    margin-top: 23vh;
    margin-bottom: 0
  }

  #search{
    /* margin-bottom: 18px;
    margin-top: 65px */
  }

  .formContainer{
    /* display: flex;
    flex-direction: column;
    width: 50%; */
    /* margin-top: 10vh */
  }

  .textInput{
    /* width: 50%; */
  }
}
