body {
  margin: 0;
  padding: 0;
  padding-top: 50px;
}

/* Header */
.header-container{
  background: black;
  position: absolute;
  top: 0;
  width: 100%;
}

.header-words{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
  font-size: 40px;
  color: gray;
}

#left{
  float:left;
}

#right{
  float: right;
  padding-top: 30px;
  font-size: 30px;
}

/* Products */
#map-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px
}

.prodimg{
  width: 300px;
  height: 300px
}

.underpic{
  text-align: center
}

.prodName{
  color: #366251
}
.list-button{
  color: white
}

/* Create Modal */
.list-button {
  text-decoration: none;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal-text {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

.close-modal {
  text-decoration: none;
}
